body {
  background-color: #000000;
  .container {
    min-height: calc(100vh - 20px);
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .clock {
      width: 100%;
      max-width: 965px;
      font-weight: bolder;
      font-size: 72px;
      color: #ffffff;
    }
  }
}
